mat-card {
    width: 400px;
}

.new-training {
    display: flex;
    justify-content: center;
    padding: 30px;
}


mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card-title {
    align-self: center;
}

@media only screen and (max-width: 599px){
    mat-card { 
        width: 100%;
        padding: 0;
    }
}