<mat-nav-list>
    @if (!(isAuth$ | async)) {

        <a mat-list-item routerLink="/signup" (click)="onCloseSidenav()">
            <mat-icon matListItemIcon>face</mat-icon>
            <span>
                Signup
            </span>
        </a>
        <a mat-list-item routerLink="/login" (click)="onCloseSidenav()">
            <mat-icon matListItemIcon>input</mat-icon>
            <span>Login</span> 
        </a>
    }
    @if (isAuth$ | async) {
        <a mat-list-item routerLink="/training" (click)="onCloseSidenav()">
            <mat-icon matListItemIcon>fitness_center</mat-icon>
            <span>Training</span> 
        </a>
        <a mat-list-item routerLink="/training" (click)="logout()">
            <mat-icon matListItemIcon>eject</mat-icon>
            <span>Logout</span>
        </a>
    }
</mat-nav-list>